

<div>
  <form name="bookCarForm" #orderform="ngForm" (ngSubmit)="bookNow(orderform)">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="bookInputDto.customerEmailId"
      placeholder="Email"
      name="customerEmailId"
     id="customerEmailId"
      
      readonly
    /><br />
    <label for="pickupDate">Pickup Date</label>
    <input
      type="date"
      class="form-control"
      placeholder="Pickup Date"
      name="pickupDate"
      [(ngModel)]="bookInputDto.pickupDate"
      required
      #pickupDate="ngModel"
    /><br />
    <!-- <div *ngIf="bookInputDto.pickupDate<=date && pickupDate.touched && pickupDate.dirty">
        <small class="text-danger"> Pick Up Date Should Be Greater Than Today's Date</small>
         
    </div> -->
    

    <label for="dropDate">Drop Date</label>
    <input
      type="date"
      class="form-control"
      placeholder="Drop Date"
      name="dropDate"
      [(ngModel)]="bookInputDto.dropDate"
      required
    /><br />
    <input
      type="text"
      class="form-control"
      placeholder="Drop Location"
      name="dropLocation"
      [(ngModel)]="bookInputDto.dropLocation"
      required
    /><br />
    <button type="submit" class="btn btn-info">Book Now</button>
  </form>
</div>

<!-- <form name="bookCarForm" #orderform="ngForm" (ngSubmit)="bookNow(orderform) >
        <input type="text" class="form-control"  [(ngModel)]="bookInputDto.customerEmailId" placeholder="Email" name="customerEmailId"><br> 
        <input type="date" class="form-control" placeholder="Pickup Date" name="pickupDate" [(ngModel)]="bookInputDto.pickupDate"><br>
        <input type="date" class="form-control" placeholder="Drop Date" name="dropDate"  [(ngModel)]="bookInputDto.dropDate"><br>
        <input type="text" class="form-control" placeholder="Drop Location" name="dropLocation"  [(ngModel)]="bookInputDto.dropLocation"><br>
        <button type="submit" class="btn btn-info"  >Book Now</button>
    </form> -->

<!-- <input type="date" [(ngModel)]="myModel.myDate"> -->
<!-- <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)"></form> (click)="bookNow(orderform)" -->
