<!-- <div *ngIf='isUserLogedIn' > -->
  <div>
    <nav>
        <ul>
            <li>
                <a routerLink='home'  routerLinkActive="active" (click)="goHome()" class="left"
                 >Home</a>
            </li>
  
            <li>
                <a routerLink='viewcars'  routerLinkActive="active"  class="left" (click)="goViewCars()"
                 >View Cars</a>
            </li>
          
            <div *ngIf="!isLoggedIn; ">
            <li >
                <a routerLink='login'  routerLinkActive="active"  class="right">Sign In</a>
            </li>
            <li>
                <a routerLink='register'  routerLinkActive="active" class="right">Sign Up</a>
            </li>
          </div>
          <li id="right" *ngIf="isLoggedIn">
            <a type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" routerLinkActive="active" >
              View Profile
              <ul class="dropdown-menu" id="right">
                <li><a class="dropdown-item" href="#" routerLinkActive="active" (click)="update()">Update Profile</a></li>
                <li><a class="dropdown-item" href="#" routerLinkActive="active" (click)="bookingList()">View Bookings</a></li>
                <li><a class="dropdown-item" href="#" routerLinkActive="active" (click)="paymentList()">View Payments</a></li>
                <li><a class="dropdown-item" href="#" routerLink="home" (click)="logout()">Logout</a></li>
              </ul>
            </a>
             </li>   
        </ul>
    </nav>
  
  </div>
  
  
  
  
  <div>
    <router-outlet></router-outlet>
  </div>
  