<div class="container mt-4">
  <div class="row mb-3">
    <!-- <div *ngIf="message" class="alert alert-success">
      <p>{{message}}</p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      <p>{{errorMessage}}</p>
    </div>
    
  <div *ngIf="errorMessage">
    <p>
      {{errorMessage}}
    </p>
  </div> -->
    <div class="col">
      <!-- Search Form -->
      <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search Cars">
    </div>
    <div class="col-auto">
      <!-- Trigger Add New Car Modal -->
      <button class="btn btn-primary" (click)="openAddCarModal()">Add New Car</button>
    </div>
  </div>

  <!-- Cars Grid -->
  <div class="row">
    <div class="col-md-4 mb-10" style="padding: 10px;" *ngFor="let car of cars  | searchCar:searchTerm ">
      <div class="card">
        <img src={{car.imageUrl}} class="card-img-top" alt="Car Image">
        <div class="card-body">
          <h5 class="card-title">{{car.brand}}</h5>
          <p class="card-text">Register Number :  {{car.registerNumber}}</p>
          <p class="card-text"> Available status : {{car.available ?"Available" : "InAvailable"}}</p>
          <p class="card-text">Location : {{car.location}}</p>
          <!-- <p class="card-text">Active status : {{car.isActive}}</p>
          <p class="card-text">Engaged status : {{car.isEngaged}}</p>
          <p class="card-text">Location : {{car.location}}</p>
          <p class="card-text"> Rent Per Hour : {{car.rentPerHour}}</p>
          <p class="card-text">Fuel Type : {{car.fuelType}}</p>
          <p class="card-text"> Gear Type : {{car.gearType}}</p>
          <p class="card-text">No Of Seats : {{car.noOfSeats}}</p>
          <p class="card-text">AirConditioned status : {{car.isAirConditioned}}</p>
          <p class="card-text">Mileage : {{car.mileage}}</p> -->
          <button (click)="openDetailsDialog(car)" class="btn btn-primary btn-sm button-spacing" >View Details</button>
<button class="btn btn-success btn-sm button-spacing" (click)="updateCar(car)">Edit</button>
<button class="btn btn-danger btn-sm" (click)="deleteCar(car)">Delete</button>

        </div>
      </div>
    </div>
  </div>
</div>
