<div class="container mt-4">
    <div class="row">
      <!-- Cars Available -->
      <div class="col-md-4">
        <div class="info-card">
          <h4>Cars Available</h4>
          <p>{{ carsAvailable }}</p>
        </div>
      </div>
      
      <!-- Cars Booked -->
      <div class="col-md-4">
        <div class="info-card">
          <h4>Cars Booked</h4>
          <p>{{ carsBooked }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-card">
          <h4>Un Returned </h4>
          <p>{{unReturned}}</p>
        </div>
      </div>
      
      <!-- Number of Users -->
      <div class="col-md-4">
        <div class="info-card">
          <h4>Users</h4>
          <p>{{ numberOfUsers }}</p>
        </div>
      </div>
    </div>
  </div>
  