
   <div class="sidebar">

    
    <nav class="nav flex-column">
      <a class="nav-link" routerLinkActive="active" routerLink="admin-home">Home</a>
      <a class="nav-link" routerLinkActive="active" routerLink="cars">Cars</a>
      <a class="nav-link" routerLinkActive="active" routerLink="unReturnedCar">UnReturned Car</a>
      <a class="nav-link" routerLinkActive="active" routerLink="users">Users</a>
      <a class="nav-link" routerLinkActive="active" routerLink="orders">Orders</a>
    </nav>
  </div>
  